@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(45deg, rgba(130, 50, 50, 0.5), rgba(50, 50, 133, 0.5));
  overflow-x: hidden;
  padding: 15px 10px;
}

.balaji {
  font-size: 30px;
  color: rgba(255, 50, 50, 0.9);
  text-shadow: 0px 0px 3px white;
  text-align: center;
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.titlebox h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.titlebox h3 .header {
  text-transform: uppercase;
  font-weight: 600;
}

.titlebox h3 .back {
  display: none;
  cursor: pointer;
  color: maroon;
}

.titlebox h3 .counter {
  display: block;
  cursor: pointer;
  color: maroon;
}

.titlebox .childlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  overflow-x: auto;
}

.titlebox .childlist::-webkit-scrollbar {
  height: 3px;
}

.titlebox .childlist::-webkit-scrollbar-thumb {
  background-color: maroon;
}

.titlebox .childlist .picture-image {
  width: 250px;
  height: 150px;
  margin: 5px;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.titlebox .childlist .picture-image:hover {
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
}

.titlebox .childlist h5 {
  text-align: center;
  padding: 0px 5px;
}

.showingtitle {
  display: block !important;
}

.showingtitle h3 .back {
  display: block;
}

.showingtitle h3 .counter {
  display: none;
}

.showingtitle .childlist {
  display: block;
  width: 100%;
  overflow: hidden;
}

.showingtitle .childlist .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showingtitle .childlist .picture .picture-image {
  width: 90%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media screen and (min-width: 700px) {
  .showingtitle .childlist {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .showingtitle .childlist .picture .picture-image {
    min-width: 300px;
    height: 250px;
  }
}

@media screen and (min-width: 700px) and (min-width: 1100px) {
  .showingtitle .childlist .picture .picture-image {
    min-width: 350px;
  }
}

@media screen and (min-width: 992px) {
  .showingtitle .childlist {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=styles.css.map */