@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
*{
    font-family:'Source Sans Pro', sans-serif;
}

body{
    margin:0;
    background:linear-gradient(45deg, rgba(130, 50, 50, 0.5), rgba(50, 50, 133, 0.5));
    overflow-x: hidden;
    padding:15px 10px;
}
.balaji{
    font-size: 30px;
    color: rgba(255,50,50,0.9);
    text-shadow: 0px 0px 3px white;
    text-align: center;
}
.error{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}
.titlebox{

    h3{
       display: flex;
       justify-content: space-between; 
       .header{
           text-transform: uppercase;
           font-weight: 600;
       }
       .back{
           display:none;
           cursor: pointer;
           color:maroon;
       }
       .counter{
           display: block;
           cursor: pointer;
           color:maroon;
       }
    }
    .childlist{
        display:flex;
        flex-flow: row nowrap;   
        width: 100%;
        overflow-x: auto;
        &::-webkit-scrollbar{
            height:3px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: maroon;
        }
        
        .picture-image{
            width:250px;
            height:150px;
            margin:5px;
            border-radius:5px;
            transition: transform 0.5s;
            &:hover{
                transform: scale(1.03,1.03);
            }
        }
        h5{
            text-align: center;
            padding:0px 5px;
        }
    }
}

.showingtitle{
    display:block !important;

    h3{
        .back{
            display:block;
        }
        .counter{
            display: none;
        }
    }

    .childlist{
        display:block;
        width: 100%;
        overflow:hidden;
            .picture{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                .picture-image{
                    width:90%;
                    height:max-content;
                }
            }        
        @media screen and (min-width: 700px){
            display:grid;
            grid-template-columns: 1fr 1fr;

            .picture .picture-image{
                min-width:300px;
                height:250px;
                @media screen and (min-width:1100px){
                    min-width:350px;
                }
            }
        }
        @media screen and (min-width: 992px){
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
        }       
        
    }
}